<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<p>你可以用 v-model 指令在表单 &lt;input>、&lt;textarea> 及 &lt;select> 元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。尽管有些神奇，但 v-model 本质上不过是语法糖。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。</p>
		<p>v-model 会忽略所有表单元素的 value、checked、selected attribute 的初始值而总是将 Vue 实例的数据作为数据来源。你应该通过 JavaScript 在组件的 data 选项中声明初始值。</p>
		<div id="app">
			<p>v-model 在内部为不同的输入元素使用不同的 property 并抛出不同的事件：</p>
			<ul>
				<li>text 和 textarea 元素使用 value property 和 input 事件；</li>
				<li>checkbox 和 radio 使用 checked property 和 change 事件；</li>
				<li>select 字段将 value 作为 prop 并将 change 作为事件。</li>
			</ul>
			<p>对于需要使用输入法 (如中文、日文、韩文等) 的语言，你会发现 v-model 不会在输入法组合文字过程中得到更新。如果你也想处理这个过程，请使用 input 事件。</p>
			
			<h2>文本</h2>
			<p><span>msg is: {{msg}}</span></p>
			<hr>
			<input type="text" v-model="msg" placeholder="edit txt">
			
			
			<h2>多行文本</h2>
			<span>Multiline message is:</span>
			<p style="white-space: pre-line;">{{ msg }}</p>
			<br>
			<textarea v-model="msg" placeholder="add multiple lines"></textarea>
			
			<h2>复选框</h2>
			<p>单个复选框，绑定到布尔值：</p>
			<input type="checkbox" id="checkbox" v-model="checked">
			<label for="checkbox">{{ checked }}</label>
			
			<p>多个复选框，绑定到同一个数组：</p>
			<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" value="John" v-model="checkedNames">
			<label for="john">John</label>
			<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
			<label for="mike">Mike</label>
			<br>
			<span>Checked names: {{ checkedNames }}</span>
			
			<h2>单选按钮</h2>
			<div id="example-4">
			  <input type="radio" id="one" value="One" v-model="picked">
			  <label for="one">One</label>
			  <br>
			  <input type="radio" id="two" value="Two" v-model="picked">
			  <label for="two">Two</label>
			  <br>
			  <span>Picked: {{ picked }}</span>
			</div>
			
			<h2>选择框</h2>
			<p>如果 v-model 表达式的初始值未能匹配任何选项，&lt;select> 元素将被渲染为“未选中”状态。在 iOS 中，这会使用户无法选择第一个选项。因为这样的情况下，iOS 不会触发 change 事件。因此，更推荐像上面这样提供一个值为空的禁用选项。</p>
			<div id="example-5">
			  <select v-model="selected">
			    <option disabled value="">请选择</option>
			    <option>A</option>
			    <option>B</option>
			    <option>C</option>
			  </select>
			  <span>Selected: {{ selected }}</span>
			</div>
			
			<p>多选时 (绑定到一个数组)：</p>
			<div id="example-6">
			  <select v-model="m_selected" multiple style="width: 50px;">
			    <option>A</option>
			    <option>B</option>
			    <option>C</option>
			  </select>
			  <br>
			  <span>Selected: {{ m_selected }}</span>
			</div>
			
			<p>用 v-for 渲染的动态选项：</p>
			<select v-model="selected_for">
			  <option v-for="option in options" v-bind:value="option.value">
			    {{ option.text }}
			  </option>
			</select>
			<span>Selected: {{ selected_for }}</span>
		</div>
		
		<!-- ==========================内容脚本分界线=============================== -->
		<script src="vue-2.7.14.js"></script>
		<script type="text/javascript">
			let vm=new Vue({
				el:'#app',
				data:{
					msg:'',
					checked:false,
					checkedNames:[],
					picked:'',
					selected:'A',
					m_selected:'',
					options:[{text:'one',value:'bar'},{text:'two',value:'foo'},{text:'three',value:'baz'}],
					selected_for:[]
				}
			})
		</script>
		
	</body>
</html>